* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  margin: 0;
}

figure,
h1,
p,
a {
  margin: 0;
}

body {
  background-color: white;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.car-main {
  background-color: khaki;
  display: flex;
  flex-direction: column;
}

.car-card {
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem;
  gap: 0;
  width: 100%;
  min-height: 30rem;
}

.car-figure {
  background-color: yellow;
  overflow: hidden;
  width: 15rem;
}

.car-icon {
  background-color: green;
}

.car-h1 {
  background-color: blue;
  width: 15rem;
}

.car-p {
  background-color: rgb(134, 134, 134);
  max-width: 45ch;
  font-size: large;
  text-align: justify;
}

.car-link {
  background-color: white;
  padding: 1rem;
  width: 10rem;
  border-radius: 2rem;
}

@media (min-width: 48em) {
  .car-main {
    flex-direction: row;
  }
}
