* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  min-height: 100%;
  margin: 0;
}

figure,
h2,
p,
a {
  margin: 0;
}

body {
  background-color: white;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.car-section {
  background-color: khaki;
  display: flex;
  flex-direction: column;
  margin: 2rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.car-card {
  background-color: red;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1.5rem;
  width: 100%;
  max-width: 27rem;
  min-height: 27rem;
}

.car-figure {
  background-color: yellow;
  width: 5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

.car-icon {
  background-color: green;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.car-title {
  width: 100%;
  max-width: 15ch;
  text-align: start;

  font-size: 2rem;
}

.car-desc {
  max-width: 45ch;
  font-size: large;
  text-align: left;

  line-height: 1.6;
}

.car-link {
  background-color: white;
  border-radius: 2rem;
  display: inline-block;
  padding: 1.25em 3em;
  text-decoration: none;
  align-self: flex-start;
  margin-top: auto;
}

.car-link:focus-visible {
  outline: 3px solid rgb(89, 162, 191);
  outline-offset: 6px;
}

@media (min-width: 56em) {
  .car-section {
    flex-direction: row;
  }
  html,
  body {
    height: 100%;
  }
  .car-card {
    max-width: 40ch;
    flex: 1;
    padding: 3rem;
  }
  .car-title {
    font-size: 2.5rem;
  }
}
